<div class="explain large-6 medium-6 columns">
  <p>enter your address to find your representatives or enter your cell phone number to receive a text the day before a local election in your neighborhood.</p>
  <p>note: 2014 election data is not available for all states yet.  if there is no election data available for your state, contact those representatives you just found and tell them to furnish info to the Google Civic Information API!</p>
  <h4 class="centered"><< US ADDRESSES ONLY >></h4>
</div>

<div class="container large-6 medium-6 columns">

  <div class="new_user">
    <%= form_for @user, :method => 'post' do |f| %>
      <%= f.text_field :address_line1, :placeholder => "address", :value => "810 grand" %>
      <%= f.text_field :city, :placeholder => "city", :value => "brooklyn"  %>
      <%= f.text_field :state, :placeholder => "state", :value => "ny"  %>
      <%= f.text_field :zip_code, :placeholder => "zip code", :value => "11211"  %>
      <%= f.submit "get representatives", {:class => "button"} %>
      <p id="or"></p>
      <%= render "shared/elections" %>
    <% end %>
  </div>

</div>
