<div class="explain">
  <p>enter your information and click to either see who represents you or to receive a text the day before a local election in your neighborhood.</p>
  <p>{note: 2014 election data is not actually available yet and texting not set up... but finding your reps works and thanks for checking it out!}</p>
</div>

<div class="container">

  <div class="new_user">
    <%= form_for @user, :method => 'post' do |f| %>
       <%= f.label :name %>
       <%= f.text_field :name, :value => "betty white" %>
       <%= f.label "phone number" %>
       <%= f.text_field :phonenumber, :value => "16104204483" %>
       <%= f.label "address line 1" %>
       <%= f.text_field :address_line1, :value => "810 grand"  %>
       <%= f.label "address line 2" %>
       <%= f.text_field :address_line2 %>
       <%= f.label "address line 3" %>
       <%= f.text_field :address_line3 %>
       <%= f.label :city %>
       <%= f.text_field :city, :value => "Brooklyn"  %>
       <%= f.label :state %>
       <%= f.text_field :state, :value => "NY"  %>
       <%= f.label "zip code" %>
       <%= f.text_field :zip_code, :value => "11211"  %>
       <%= f.submit "get representatives" %>
       <p id="or">or</p>
       <%= f.submit "get election texts" %>
    <% end %>
  </div>

</div>
