<div class="explain">
  <p>enter your information to the to receive a text the day before a local election in your neighborhood.</p>
  <p>{note: 2014 election data is not actually available yet...}</p>
  <p>{{also, this is alpha. so far you are just sending a text to my number cause that's all twilio knows right now... but thanks for checking this out mom, dad, and prospective employers!}}</p>
</div>

<div class="container">

  <div class="new_user">
    <%= form_tag @user, :method => 'post' do%>
       <%= label_tag :name %>
       <%= text_field_tag :name, "betty white" %>
       <%= label_tag "phone number" %>
       <%= text_field_tag :phonenumber, "16104204483" %>
       <%= label_tag "address line 1" %>
       <%= text_field_tag :address_line1, "address"  %>
       <%= label_tag "address line 2" %>
       <%= text_field_tag :address_line2 %>
       <%= label_tag "address line 3" %>
       <%= text_field_tag :address_line3 %>
       <%= label_tag :city %>
       <%= text_field_tag :city, "Brooklyn"  %>
       <%= label_tag :state %>
       <%= text_field_tag :state, "NY"  %>
       <%= label_tag "zip code" %>
       <%= text_field_tag :zip_code, "11211"  %>
       <%= submit_tag "get representatives", :html => { :class => "rep-button"}, :autofocus => true %>
       <p id="or">or</p>
       <%= submit_tag "get election texts" %>
    <% end %>
  </div>

</div>
