<div class="containter">

  <div class="new_user">
    <%= form_for @user, :method => 'post' do |f| %>
      <%= f.text_field :name, :value => "betty white" %>
       <%= f.label :address_line1 %>
       <%= f.text_field :address_line1 %>
       <%= f.label :address_line2 %>
       <%= f.text_field :address_line2 %>
       <%= f.label :address_line3 %>
       <%= f.text_field :address_line3 %>
       <%= f.label :city %>
       <%= f.text_field :city %>
       <%= f.label :state %>
       <%= f.text_field :state %>
       <%= f.label :zip_code %>
       <%= f.text_field :zip_code %>
       <%= f.submit "get election texts" %>
    <% end %>
  </div>

</div>
