<% if @show %>
<div class="explain">
  <p>sweet.  a text will be sent to <span><%= @user.name %></span>, at <span><%= @user.phonenumber %></span> with the following info:</p>
</div>

<div class="election-info">
  <% @show.each do |k,v| %>
  <p class="dates">
    <span class="k"><%= k %> :</span>
    <span class="v"><%= v %></span>
  </p>
  <% end %>
</div>

<% elsif @reps %>

<div class="explain">
  <p><span><%= @user.name %></span>! these people represent you:</p>
</div>
      <p class="facts">
  <% def factoids(facts) %>
    <% facts.each do |k,v| %>
      <% unless k == "name" %>
        <span class="k"><%= k %> :</span>
      <% if v.kind_of?(Array) %>
      <% if v[0].kind_of?(Hash) %>
        <% factoids(v[0]) %>
      <% end %>
      <% end %>
        <span class="v"><%= v.to_s %></span>
      </p>
      <% end %>
    <% end %>
  <% end %>

<% @reps.each do |level| %>
<% level.each do |office, person| %>
<div class="reps-info">
  <section class="dates">
    <span class="k"><%= office %> :</span>
    <% person.each do |name| %>
    <span class="n"> <%= name["name"] %></span>
    <ul class="rep-info hidden">
      <li class="rep-info">
        <span class="temp">
    <% factoids(name) %>
    <% end %>
  </span>
      </li>
    </ul>
  </section>
</div>
<% end %>
<% end %>

<% end %>

<div class="explain">
  <%= link_to "another address", new_user_path %>
</div>
